.App {
  text-align: center;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 1000; /* Ensure it's on top of other content if needed */
}

.app-content {
  padding-bottom: 98px;
}
